{% extends 'basic_view/base.html' %}

{% block content %}
{%load static%}
<div class="wrap-author--content">
    <div class="container d-flex justify-content-center">
        <div class="wrap-author--content_input">
            <div class="wrap-img--author">
                <img src="{%static 'img/author/author.jpg'%}" alt="">
            </div>
            <div class="nama-author">
                YM
            </div>
            <div class="wrap-summary--address">
                <div class="wrap-summary">
                    <strong>Two is better than one.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aut quam fugiat iusto quas odio, modi in voluptatum soluta ad unde mollitia, ullam optio sapiente quod repellendus quia facere officia! <br>
                </div>
                <div class="wrap-address">
                    <table class="table">
                        <tbody>
                            <tr>
                              <td>Telephone</td>
                              <td>:  08123456787</td>
                            </tr>
                            <tr>
                              <td>Education</td>
                              <td>:  Graduate from Alterra Academy</td>
                            </tr>
                            <tr>
                              <td>Profession</td>
                              <td>:  Front-End Dev</td>
                            </tr>
                            <tr>
                              <td>Nationality</td>
                              <td>:  Indonesian</td>
                            </tr>
                            <tr>
                              <td>Company</td>
                              <td>:  Alterra</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td>:  miftahul@alterra.id</td>
                            </tr>
                            <tr>
                              <td>Address</td>
                              <td>:  SepulsaLodgeMalang</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.8285455389299!2d112.60992198805222!3d-7.966446799639619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575972516926!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}