{% extends 'basic_view/base.html' %}
{% block content %}
{%load static%}
<div class="wrap-blog">
    <div class="container">
        <div class="row justify-content-center">
            {% for blog in blogs %}
            <!-- content loop -->
            <div class="col-7">
                <div class="row wrap-blog--img justify-content-center">
                    <img src="{%static ''%}{{blog.image_path}}"alt="">
                </div>
                <div class="row d-flex flex-row justify-content-between blog-date_comment">
                    <!-- date comment -->
                    <span>{{blog.date}}</span>
                    <span>{{blog.comment}}</span>
                </div>
                <div class="row ">
                    <!-- header berita -->
                    <div class="blog-title--news">
                        {{blog.header}}
                    </div>
                </div>
                <div class="row">
                    <!-- paragraph -->
                    <div class="news-para">
                        {%if readmore%}
                            {{blog.content|safe|linebreaks}}
                        {%endif%}
                    </div>
                </div>
                <div class="row">
                    <!-- baca selengkapnya -->
                    <a href='' class="baca-s">Baca selengkapnya</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <form class="d-flex justify-content-center" action="/blog/input_blog" method="GET">
            <button type="submit" class="btn btn-success submit-content">Submit New Content</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}