{% extends 'basic_view/base.html' %}
{% block content %}
{%load static%}
<div class="wrap-blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="row wrap-blog--img justify-content-center">
                    <img src="{{blog.image_path}}"alt="">
                </div>
                <div class="row d-flex flex-row justify-content-between blog-date_comment">
                    <!-- date comment -->
                    <span>{{blog.date}}</span>
                    <span>{{blog.comment}}</span>
                </div>
                <div class="row ">
                    <!-- header berita -->
                    <div class="blog-title--news">
                        {{blog.header}}
                    </div>
                </div>
                <div class="row">
                    <!-- paragraph -->
                    <div class="news-para">
                        {{blog.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}